html
{
	font-family: 'LiHei Pro', '微軟正黑體', sans-serif;
}


body
{
	margin: 0px;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	background-color: #222;
}



.content
{
	width: 1200px;
	margin: 0px auto;
	background-color: #FFF;
	/*background-color: #F00;*/
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}



.header
{
	width: 1200px;
	height: 105px;
	margin: 0 auto; 
}

.logo
{
	margin-top: 38px;
	margin-left: 36px;
	float: left;
}

.icons
{
	margin-top: 58px;
	margin-right: 40px;
	float: right;
}

.icons img
{
	margin-left:  20px;
}






.product_group
{
	margin: 0px auto; 
	/*background-color: #111;*/

}

.product
{
	margin: 20px 40px; 
}






















.brand_image
{
	width: 200px;
	height: 200px;
	margin: 10px;

}

.brand_name
{
	font-weight: bold;
	text-align: center;
	color: #CCC;

}

.brand_infor
{
	text-align: center;
	color: #555;
	/* line-height 設定字體範圍高度 (行距) */
	line-height:1.5em;

}


.movie
{
	width: 1200px;
	margin: 60px auto 0px auto; 
	background-color: #CCC;
}





.footer
{
	width: 1200px;
	height: 130px;
	margin: 0px auto;
	text-align: center;
	/*background-color: #111;*/
}




.links
{
	width: 1200px;
	height: 80px;
	/* line-height 設定字體範圍高度 (行距) */
	/*line-height:3.6em;*/
	color: #666;
	/*float: left;*/
	/*float: right;*/
	/*padding: 60px auto 10px auto;*/
	margin: 0px auto;
	clear: both;

}



.links p
{
	width: 100px;
	margin: 0px auto;
	padding: 60px 0px 0px 0px ;
	color: #555;
	/*float: left;*/
	display: inline-block;
}




.copyright
{
	margin: 0px auto;
	clear: both;
}


.copyright p
{
	/* line-height 設定字體範圍高度 (行距) */
	/*line-height:3.6em;*/
	color: #666;
	/*text-align: center;*/
	margin: 10px auto;

}





.contact
{
	width: 60px;
	height: 200px;
	top: 105px;
	right: 0px;

	position: fixed;
	background-color: #FC0;

	box-shadow: -6px 1px 10px rgba(0,0,0,1);
}

.contact p
{
	width: 1em;
	line-height: 1.6em;
	margin: 8px auto 0px auto;
}




.clearboth
{
	/*清除浮動設定，取消靠左浮動*/
	clear: both;
}		
