html
{
	font-family: 'LiHei Pro', '微軟正黑體', sans-serif;
}


body
{
	margin: 0px;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	background-color: #323232;
}


.package
{
	width: 1200px;
	margin: 0px auto;
}

.content
{
	width: 1200px;
	margin: 0px auto;
	background-color: #FFF;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}









.logo
{
	margin-top: 38px;
	margin-left: 36px;
	float: left;
}

.icons
{
	margin-top: 58px;
	margin-right: 40px;
	float: right;
}

.icons img
{
	margin-left:  20px;
}






.main_menu
{
	width: 1200px;
	height: 60px;
	margin: 0px auto; 
	/*background-color: #111;*/
}


.main_menu ul
{
	margin-left: 200px;
	/*margin-right: 200px;*/
	padding: 0px;
}


.main_menu li
{
	/*刪除項目清單前的圓點*/
	list-style-type: none;

	margin: 0px auto;
	width: 200px;
	height: 60px;
	/* line-height 設定字體範圍高度 (行距) */
	line-height:3.6em;
	color: #666;
	float: left;
	text-align: center;
}




.slider
{
	width: 1200px;
	margin: 0px auto 60px auto;
}


.brand_group
{
	width: 880px;
	height: 360px;
	margin: 0px auto; 
	padding: 20px 160px 10px 160px;
	/*background-color: #111;*/

}

.brand
{
	width: 220px;
	
	margin: 0px auto; 
	float: left;
}

.brand_image
{
	width: 200px;
	height: 200px;
	margin: 10px;

}

.brand_name
{
	font-weight: bold;
	text-align: center;
	color: #CCC;

}

.brand_infor
{
	text-align: center;
	color: #555;
	/* line-height 設定字體範圍高度 (行距) */
	line-height:1.5em;

}


.movie
{
	width: 1120px;
	height: 630px;
	margin: 0px auto; 
	background-color: #CCC;
}





.footer
{
	width: 1200px;
	height: 130px;
	margin: 0px auto;
	text-align: center;
	/*background-color: #111;*/
}




.links
{
	width: 1200px;
	height: 80px;
	/* line-height 設定字體範圍高度 (行距) */
	/*line-height:3.6em;*/
	color: #666;
	/*float: left;*/
	/*float: right;*/
	/*padding: 60px auto 10px auto;*/
	margin: 0px auto;
	clear: both;

}



.links p
{
	width: 100px;
	margin: 0px auto;
	padding: 60px 0px 0px 0px ;
	color: #555;
	/*float: left;*/
	display: inline-block;
}




.copyright
{
	margin: 0px auto;
	clear: both;
}


.copyright p
{
	/* line-height 設定字體範圍高度 (行距) */
	/*line-height:3.6em;*/
	color: #666;
	/*text-align: center;*/
	margin: 10px auto;

}





.service
{
	width: 60px;
	height: 200px;
	top: 120px;
	right: 0px;

	position: fixed;
	background-color: #FC0;

	box-shadow: -6px 1px 10px rgba(0,0,0,1);
}

.service p
{
	width: 1em;
	line-height: 1.6em;
	margin: 8px auto 0px auto;
}




.clearboth
{
	/*清除浮動設定，取消靠左浮動*/
	clear: both;
}		
























/*----------------------------------- MENU ---------------------------------------*/

#menu-wrapper .main-menu , #menu-wrapper .sub-menu {
	margin: 0 auto;
	width: 1200px;
	z-index: 1;
}

#menu-wrapper ul, #menu-wrapper ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}



.main-menu-wrapper
{
 font-size: 1.6em;	
}



.main-menu ul li, .sub-menu ul li {
	float: left;
}

.main-menu ul li a {
	color: #f00;
	display: block;
	margin-left: 40px;
	margin-right: 50px;
	padding: 5px 5px 5px 0;
	text-decoration: none;
}

.sub-menu-wrapper {
	height: 28px;
	clear: left;
	background-color: #f00;
	border-top: 5px solid #f00;	/* 預設使用跟 .c1 一樣的顏色 */
	font-size: 1.2em
}

.sub-menu {
	height: 28px;
	position: relative;
	overflow: hidden;
}

.sub-menu ul {
	position: absolute;
}

.sub-menu ul li a {
	color: #fff;
	display: block;
	margin-right: 20px;
	padding-top: 2px;
	text-decoration: none;
}

/* 自訂子選單的位置 */
.sub-menu .sub-memu-0 { left: 40px; }
.sub-menu .sub-memu-1 { left: 200px; }
.sub-menu .sub-memu-2 { left: 360px; }
.sub-menu .sub-memu-3 { left: 520px; }
.sub-menu .sub-memu-4 { left: 680px; }
.sub-menu .sub-memu-5 { left: 840px; }
/* 自訂每一個選單的顏色 */
.main-menu ul li.m1 , .main-menu ul li.m1 a.selected { color: #f00; }
.main-menu ul li.m2 , .main-menu ul li.m2 a.selected { color: #f00; }
.main-menu ul li.m3 , .main-menu ul li.m3 a.selected { color: #f00; }
.main-menu ul li.m4 , .main-menu ul li.m4 a.selected { color: #f00; }
.main-menu ul li.m5 , .main-menu ul li.m5 a.selected { color: #f00; }
.main-menu ul li.m6 , .main-menu ul li.m6 a.selected { color: #f00; }

/*----------------------------------- MENU ---------------------------------------*/
